{% if form.social is defined %}
    {% set form = form.social %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.facebookName, 'Nombre Facebook'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.facebookName, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.facebookUid, 'Identificador Facebook'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.facebookUid, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.twitterName, 'Nombre Twitter'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.twitterName, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.twitterUid, 'Identificador Twitter'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.twitterUid, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
{% endif %}