{% if form.profile is defined %}
    {% set form = form.profile %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.document, 'Documento'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.document, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.name, 'Nombre'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.surname1, 'Primer apellido'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.surname1, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.surname2, 'Segundo apellido'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.surname2, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
{% endif %}