{% if form.contactInfo is defined %}
    {% set form = form.contactInfo %}
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                {{ form_label(form.phone, 'Teléfono'|trans, {'label_attr': {'class': 'label-control'}}) }}
                {{ form_widget(form.phone, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
{% endif %}