{#
Plantilla para pintar el menú breadcrumbs.

En princpio no debería ser necesaria si funcionara esta configuración:
    white_october_breadcrumbs:
        separator: '<i class="fa fa-angle-right"></i>'
        listClass: 'page-breadcrumb breadcrumb'

Esto haría que se usara la plantilla que viene en el bundle con el icono ">" de separador y la clase correcta
para la lista. Pero no funciona.
El código que se genera no interpreta el separador y en lugar de pintar el icono que hace de separador,
pinta el código html. No he sido capaz de hacerlo funcionar.

Así que en la configuración del módulo (config.yml) le indico que esta es su plantilla para renderizar. Es un
calco de la original poniendo el separador a mano y la clase de lista.
#}
{% if wo_breadcrumbs()|length %}
    {% spaceless %}
        <ul id="{{ listId }}" class="page-breadcrumb breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            {% for b in breadcrumbs %}
                <li{% if itemClass is defined and itemClass|length %} class="{{ itemClass }}"{% endif %}{% if not(loop.first) %} itemprop="child"{% endif %}>
                    {% if loop.first %}
                        <i class="fa fa-home"></i>
                    {% endif %}
                    {% if b.url and not loop.last %}<a href="{{ b.url }}" itemprop="url"{% if linkRel is defined and linkRel|length %} rel="{{ linkRel }}"{% endif %}>{% endif %}
                        <span itemprop="title">{{- b.text | trans(b.translationParameters, translation_domain, locale) -}}</span>
                        {% if b.url and not loop.last %}</a>{% endif %}
                    {% if not loop.last %}
                        <i class="fa fa-angle-right"></i>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endif %}
