{% block page_header %}
<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        {# <h3 class="page-title">{{ title }} {% if subtitle is defined %}<small>{{ subtitle }}</small>{% endif %}</h3> #}
        {{ wo_render_breadcrumbs() }}
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
{% endblock %}