<!-- BEGIN ERRORS -->
{% if errors.title is defined %}
<div class="alert alert-danger alert-dismissable">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
    <h4 class="block">{{ errors.title }}</h4>
    <p>{{ errors.message }}</p>
</div>
{% endif %}
<!-- END ERRORS -->
