<!-- BEGIN FLASHMESSAGES -->
<div>
    {% for flashMessage in app.session.flashbag.get('ERROR') %}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        <div class="alert alert-danger alert-dismissable">
            <h4 class="block">{{ 'Error'|trans }}</h4>
            <p>{{ flashMessage }}</p>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('WARNING') %}
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        <div class="alert alert-warning alert-dismissable">
            <h4 class="block">{{ 'Aviso'|trans }}</h4>
            <p>{{ flashMessage }}</p>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('SUCCESS') %}
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
        <h4 class="block">{{ 'Operación correcta'|trans }}</h4>
        <p>{{ flashMessage }}</p>
    </div>
    {% endfor %}
</div>
<!-- END FLASHMESSAGES -->
