{% extends '::base.html.twig' %}

{% block title %}Backnet - {{ parent() }}{% endblock %}

{% block body_class 'page-header-fixed' %}

{% block body %}

    {% include ":backnet/_layout:header.html.twig" %}

    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container" >

        {% include ":backnet/_layout:sidebar.html.twig" %}

        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->

    {% include ":backnet/_layout:footer.html.twig" %}

{% endblock %}

{# styles and scripts #}
{# --------------------------------------------------------------------------------------- #}

{% block layout_scripts %}

    {{ parent() }}

    {% javascripts output='js/backnet/backnet.js'
    '@AppBundle/Resources/public/js/backnet.js'
    '@AppBundle/Resources/public/js/dataTables-defaults.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block page_level_stylesheets %} {# definido en base.html.twig #}

    {% stylesheets output='css/backnet/Default/index.css'
    'bundles/themeforestmetronic/global/plugins/select2/select2.css'
    'bundles/themeforestmetronic/global/plugins/bootstrap-toastr/toastr.min.css'
    'bundles/themeforestmetronic/global/plugins/bootstrap-datepicker/css/datepicker.css'
    'bundles/themeforestmetronic/global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css'
    'bundles/themeforestmetronic/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

{% endblock %}


{% block page_level_plugins %}

    {% javascripts output='js/backnet/Default/index_plugins.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/select2/select2.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/bootstrap-toastr/toastr.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/datatables/media/js/jquery.dataTables.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
