{# En las páginas de error no hay ruta, por lo que no se puede generar el locale switcher #}
{% if app.request.get('_route') %}

    {% set currentLocale = app.request.locale %}

    {% set routeParams = app.request.get('_route_params') %}

    <li class="dropdown dropdown-language">

        {% for localeString, language in languages %} {# ITERATE ALL THE LOCALES #}

            {% set locale = localeString[:2]|lower %}   {# first 2 chars of the locale string #}
            {% set country = localeString[3:]|lower %} {# last 2 chars of the locale string #}

            {% if currentLocale == locale %}

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                    <img alt="flag-{{ country }}" src="{{ asset('bundles/themeforestmetronic/global/img/flags/'~country~'.png') }}" />
                    <span class="username">{{ language }}</span>
                    <i class="fa fa-angle-down"></i>
                </a>

            {% endif %}

        {% endfor %}

        <ul class="dropdown-menu">

            {% for localeString, language in languages %} {# ITERATE ALL THE LOCALES #}

                {% set locale = localeString[:2]|lower %}   {# first 2 chars of the locale string #}
                {% set country = localeString[3:]|lower %} {# last 2 chars of the locale string #}

                {% if currentLocale != locale %}

                    {% if routeParams['_locale'] is defined %}
                        {%set routeParams = routeParams|merge({'_locale': locale}) %}
                    {% endif %}

                    <li>
                        <a href="{{ path(app.request.get('_route'), routeParams) }}">
                            <img alt="flag-{{ country }}" src="{{ asset('bundles/themeforestmetronic/global/img/flags/'~country~'.png') }}" />
                            {{ language }}
                        </a>
                    </li>

                {% endif %}

            {% endfor %}

        </ul>

    </li>

{% endif %}
