{% set currentRoute = app.request.attributes.get('_route') %} {# Ruta actual #}
{% set currentAuxDataType = auxType is defined ? auxType.shortName : '' %}  {# auxDataType la pasa el controlador AuxDataController. Se usa en el submenú "Datos auxiliares" #}

<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler"></div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>

            <li>
                <span class="title">&nbsp;</span>
            </li>

            <li class="start {{ currentRoute == 'bogo_backnet_default_index' ? 'active' }}">
                <a href="{{ path('bogo_backnet_default_index') }}">
                    <i class="icon-home"></i>
                    <span class="title">{{ 'Inicio'|trans }}</span>
                    {% if currentRoute == 'bogo_backnet_default_index' %}
                        <span class="selected "></span>
                    {% endif %}
                </a>
            </li>

            <li class="{{ currentRoute starts with 'bogo_backnet_registry_' ? 'active' }}">
                <a href="{{ path('bogo_backnet_registry_list') }}">
                    <i class="fa fa-book"></i>
                    <span class="title">{{ 'Registros'|trans }}</span>
                    {% if currentRoute starts with 'bogo_backnet_registry_' %}
                        <span class="selected "></span>
                    {% endif %}
                </a>
            </li>

            <!-- DATOS AUXILIARES. VER SIDEBARMENULISTENER -->
            {# Solamente visible para usuario ADMIN #}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="{{ currentRoute starts with 'bogo_backnet_auxdata_' ? 'active' }}">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span class="title">{{ 'Datos auxiliares'|trans }}</span>
                    <span class="arrow {{ currentRoute starts with 'bogo_backnet_auxdata_' ? 'open' }}"></span>
                    {% if currentRoute starts with 'bogo_backnet_auxdata_' %}
                        <span class="selected "></span>
                    {% endif %}
                </a>
                <ul class="sub-menu">
                    {% for block in auxTypesBlocks %} {# auxTypesBlocks es una variable global de twig añadida en SidebarMenuListener #}
                        <li class="{{ currentAuxDataType in block.types|keys ? 'active' }}">
                            <a href="javascript:;">
                                <i class="icon-settings"></i> {{ block.description|trans }} <span class="arrow {{ currentAuxDataType in block.types|keys ? 'open' }}"></span>
                            </a>
                            <ul class="sub-menu" style="display: {{ currentAuxDataType in block.types|keys ? 'block' : 'none' }};">
                                {% for type in block.types %}
                                    <li class="{{ currentRoute starts with 'bogo_backnet_auxdata_' and currentAuxDataType == type.shortName ? 'active' }}">
                                        <a href="{{ path('bogo_backnet_auxdata_list', {'type': type.shortName }) }}">
                                            <i class="fa {{ currentRoute starts with 'bogo_backnet_auxdata_' and currentAuxDataType == type.shortName ? 'fa-circle' : 'fa-circle-thin' }}"></i>
                                            {{ type.description|trans }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}

            {# Solamente visible para usuario ADMIN #}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="{{ currentRoute starts with 'bogo_users_' ? 'active' }}">
                <a href="{{ path('bogo_users_list') }}">
                    <i class="fa fa-users"></i>
                    <span class="title">{{ 'Usuarios'|trans }}</span>
                    {% if currentRoute starts with 'bogo_users_' %}
                        <span class="selected "></span>
                    {% endif %}
                </a>
            </li>
            {% endif %}

            {# Esta no es una opción más del menú. Solo aparece si el usuario está editando su perfil #}
            {% if currentRoute == 'fos_user_profile_edit' %}
                <li>&nbsp;</li> {#Dejo un pequeño separador#}
                <li class="active">
                    <a href="{{ path('fos_user_profile_edit') }}">
                        <i class="fa fa-user"></i>
                        <span class="title">{{ 'Mi perfil'|trans }}</span>
                        <span class="selected "></span>
                    </a>
                </li>
            {% endif %}

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->
