{% extends ":backnet/_layout:layout.html.twig" %}
{% block content %}

    {% include ":backnet/_layout:content_header.html.twig" %}

    {% include ":backnet/_forms:user.form.twig" %}

{% endblock %}

{# styles and scripts #}
{% block page_level_javascripts %}

{% endblock %}
{# --------------------------------------------------------------------------------------- #}
