{% extends ':backnet/_layout:layout.html.twig' %}
{% block content %}
    {% include ":backnet/_layout:content_header.html.twig" %}

    <p>Backnet index action</p>
    {% include ':backnet/_layout:errors.html.twig' %}
    {% include ':backnet/_layout:flashmessages.html.twig' %}
{% endblock %}