<div class="container">
    <div class="row">
        <div class="col-md-3">
            <select class="form-control select2 select2-offscreen" id="select_jump2auxType" tabindex="-1">
                <option value=""></option>
                {% for block in auxTypesBlocks %}
                    <optgroup label="{{ block.description }}">
                        {% for type in block.types %}
                            <option {{ auxType.shortName==type.shortName ? 'disabled="disabled"' }} value="{{ type.shortName }}">{{ type.description }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
</div>