{% extends ':backnet/_layout:layout.html.twig' %}
{% block content %}

    {% include ":backnet/_layout:content_header.html.twig" %}

    {% include ":backnet/_layout:flashmessages.html.twig" %}

    {% include ":backnet/AuxData:jump.form.twig" %}

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-tasks"></i>
                <span class="caption-subject bold uppercase"> {{ 'Listado de datos auxiliares'|trans }} </span>
                <span class="caption-helper">{{ auxType.description|trans }}</span>
            </div>
            <div class="actions">
                <a class="btn btn-default btn-bg" href="{{ path('bogo_backnet_auxdata_add', {'type': auxType.shortName}) }}">
                    <i class="fa fa-plus"></i> {{ 'Añadir'|trans }} </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-hover table-bordered" id="table_auxdata_list">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'Nombre'|trans }}</th>
                    <th>{{ 'Activo'|trans }}</th>
                </tr>
                </thead>
                <!--
                <tbody>
                <tr>
                    <td colspan="5" class="dataTables_empty text-center">
                        <strong><i class="fa fa-spinner fa-spin"></i> {{ 'Cargando datos del servidor'|trans }}</strong>
                    </td>
                </tr>
                </tbody>
                -->
            </table>
        </div>
    </div>
{% endblock %}

{# styles and scripts #}
{# --------------------------------------------------------------------------------------- #}

{% block page_level_javascripts %}

    {% javascripts output='js/backnet/auxdata/index.js'
    '@AppBundle/Resources/public/js/list/auxdata-list.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
