<!DOCTYPE html>

<!--[if IE 8]> <html lang="{{ app.request.locale }}" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="{{ app.request.locale }}" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="{{ app.request.locale }}">
<!--<![endif]-->

<!-- BEGIN HEAD -->
<head>

    <meta charset="utf-8"/>
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="{% block description %}{% endblock %}" name="description"/>
    <meta content="{% block author %}{{ company_name }}{% endblock %}" name="author"/>

    {% block stylesheets %}

        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" />
        {% stylesheets output='css/global.css'
        'bundles/themeforestmetronic/global/plugins/font-awesome/css/font-awesome.css'
        'bundles/themeforestmetronic/global/plugins/simple-line-icons/simple-line-icons.css'
        'bundles/themeforestmetronic/global/plugins/bootstrap/css/bootstrap.min.css'
        'bundles/themeforestmetronic/global/plugins/uniform/css/uniform.default.css'
        'bundles/themeforestmetronic/global/plugins/bootstrap-switch/css/bootstrap-switch.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!-- END GLOBAL MANDATORY STYLES -->

        <!-- BEGIN PAGE LEVEL STYLES -->
        {% block page_level_stylesheets %}{% endblock %}
        <!-- END PAGE LEVEL STYLES -->

        <!-- BEGIN THEME STYLES -->
        {% stylesheets output='css/theme.css'
        'bundles/themeforestmetronic/global/css/components.css'
        'bundles/themeforestmetronic/global/css/plugins.css'
        'bundles/themeforestmetronic/admin/layout/css/layout.css'
        'bundles/themeforestmetronic/admin/layout/css/themes/default.css'
        'bundles/themeforestmetronic/admin/layout/css/custom.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <!-- END THEME STYLES -->

    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by Default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="{% block body_class %}page-header-fixed page-quick-sidebar-over-content{% endblock %}">

{% block body %}{% endblock %}

<!-- BEGIN JAVASCRIPTS (load at bottom, this will reduce page load time) -->
{% block javascripts %}

    <!-- BEGIN FOSJsRoutingBundle -->
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <!-- END FOSJsRoutingBundle -->

    <!-- BEGIN CORE PLUGINS -->
    {% javascripts output='js/core_ie9.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/respond.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/excanvas.min.js' %}
    <!--[if lt IE 9]><script src="{{ asset_url }}"></script><![endif]-->
    {% endjavascripts %}

    {% javascripts output='js/core.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery-migrate.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery-ui/jquery-ui.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/bootstrap/js/bootstrap.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery-slimscroll/jquery.slimscroll.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery.blockui.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery.cokie.min.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/uniform/jquery.uniform.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/bootstrap-switch/js/bootstrap-switch.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- END CORE PLUGINS -->

    <!-- BEGIN PLUGINS PROPIOS (NO METRONIC) -->
    {% javascripts output='js/base.js'
    '@AppBundle/Resources/public/js/watch-has-changed.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <!-- END PLUGINS PROPIOS (NO METRONIC) -->

    <!-- BEGIN LAYOUT SCRIPTS -->
    {% block layout_scripts %}
        {% javascripts output='js/base_page_scripts.js'
        '@ThemeForestMetronicBundle/Resources/public/global/scripts/metronic.js'
        '@ThemeForestMetronicBundle/Resources/public/admin/layout/scripts/layout.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <!-- END LAYOUT SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    {% block page_level_plugins %}{% endblock %}
    <!-- END PAGE LEVEL PLUGINS -->

    <!-- BEGIN PAGE SCRIPTS -->
    {% block page_level_javascripts %}{% endblock %}
    <!-- END PAGE LEVEL SCRIPTS -->

    <!-- BEGIN TRANSLATION SCRIPTS -->
    {% block translation_javascripts %}
        {% javascripts output='js/translations.js'
        '@BazingaJsTranslationBundle/Resources/js/translator.js'
        'js/translations/config.js'
        'js/translations/javascripts/*.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <!-- END TRANSLATION SCRIPTS -->

    <script>
        jQuery(document).ready(function() {
            Metronic.init(); // init metronic core components
            Layout.init();   // init current layout
            {% block javascript_init %}{% endblock %}
        });
    </script>

    <!-- BEGIN GOOGLE ANALYTICS TRACKING CODE -->
    <script>
    /*
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        {% if app.user %}
        ga('set', '&uid', '{{ app.user.username }}' );
        {% else %}
        ga('set', '&uid', 'anonymous');
        {% endif %}
        ga('create', '{{ ga_tracking }}', 'auto');
        ga('send', 'pageview');
    */
    </script>
    <!-- END GOOGLE ANALYTICS TRACKING CODE -->

{% endblock %}
<!-- END JAVASCRIPTS -->

</body>

</html>