{% extends ':backnet/_layout:layout.html.twig' %}
{% block content %}

    {% include ":backnet/_layout:content_header.html.twig" %}

    {% include ':backnet/_forms:registry.form.twig' %}

{% endblock %}

{# styles and scripts #}
{# --------------------------------------------------------------------------------------- #}

{% block page_level_javascripts %}

    {% javascripts output='js/backnet/registry/handle.js'
    '@AppBundle/Resources/public/js/form/registry-form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}