{% extends ':backnet/_layout:layout.html.twig' %}
{% block content %}

    {% include ":backnet/_layout:content_header.html.twig" %}

    {% include ":backnet/_layout:flashmessages.html.twig" %}

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-book"></i>
                <span class="caption-subject bold uppercase"> {{ 'Listado de registros'|trans }} </span>
            </div>
            <div class="actions">
                <a class="btn btn-default btn-bg tooltips" data-original-title="{{ 'Añadir nuevo registro' |trans }}" data-placement="top" data-container="body" href="{{ path('bogo_backnet_registry_add') }}"><i class="fa fa-plus"></i> {{ 'Añadir'|trans }} </a>
                <a id="clear_list_filters" class="btn btn-icon-only red tooltips" data-original-title="{{ 'Resetear filtros' |trans }}" data-placement="top" data-container="body"><i class="fa fa-filter"></i></a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-hover table-bordered" id="table_registry_list">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'Nombre'|trans }}</th>
                    <th>{{ 'Fecha'|trans }}</th>
                    <th>{{ 'Edad'|trans }}</th>
                    <th>{{ 'Código de servicio'|trans }}</th>
                    <th>{{ 'Número de servicio'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{# styles and scripts #}
{# --------------------------------------------------------------------------------------- #}

{% block page_level_javascripts %}

    {% javascripts output='js/backnet/registry/list.js'
    '@AppBundle/Resources/public/js/list/registry-list.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
