{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <!-- BEGIN LOGIN -->
    <div class="content">

        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">

            <h3 class="form-title">{{ 'Acceso de usuarios'|trans }}</h3>
            {% if error %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span>{{ 'Error'|trans }}.</span>
                </div>
            {% endif %}

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">{{ 'Usuario'|trans }}</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ 'Usuario'|trans }}" name="_username" value="{{ last_username }}" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'Contraseña'|trans }}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="{{ 'Contraseña'|trans }}" name="_password" />
                </div>
            </div>
            <div class="form-actions">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                <button type="submit" class="btn btn-success uppercase" id="_submit" name="_submit">{{ 'Entrar'|trans }} <i class="m-icon-swapright m-icon-white"></i></button>
                {#
                <label class="rememberme check">
                    <input type="checkbox" id="_remember_me" name="_remember_me" value="1"/>{{ 'Recuérdame'|trans }} </label>
                <a href="javascript:;" id="forget-password" class="forget-password">{{ '¿Olvidó su contraseña?'|trans }}</a>
                #}
            </div>
            <div class="forget-password">
                <h4>{{ '¿Olvidó su contraseña?'|trans }}</h4>
                <p>pinche en <a id="forget-password" href="{{ path("fos_user_resetting_request") }}"> este enlace </a> para resetear su contraseña.
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <!-- END LOGIN -->
{% endblock fos_user_content %}