{% extends '::base.html.twig' %}

{% trans_default_domain 'FosUserBundle' %}

{% block body_class 'login' %}

{% block body %}

    {% block content %}
        <!-- BEGIN LOGO -->
        <div class="logo">
            <a href="{{ path('bogo_backnet_default_index') }}">
                <img src="{{ asset('bundles/app/images/logo.png') }}" alt="logo"/>
            </a>
        </div>
        <!-- END LOGO -->

        {% block fos_user_content %}{% endblock %}

    {% endblock %}

    <div class="copyright">
        {{ "now"|date("Y") }} &copy; {{ company_name }}
    </div>

{% endblock %}

{# styles and scripts #}
{# --------------------------------------------------------------------------------------- #}

{% block page_level_stylesheets %} {# definido en base.html.twig #}
    {% stylesheets output='css/backnet/login.css'
    '@ThemeForestMetronicBundle/Resources/public/admin/pages/css/login.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block page_level_plugins %}
    {% javascripts output='js/backnet/login_plugins.js'
    '@ThemeForestMetronicBundle/Resources/public/global/plugins/jquery-validation/js/jquery.validate.min.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block page_level_javascripts %}
    {% javascripts output='js/backnet/login.js'
    '@ThemeForestMetronicBundle/Resources/public/admin/pages/scripts/login.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascript_init %} {# definido en base.html.twig #}
    Login.init();
{% endblock %}
