{% extends ":backnet/_layout:layout.html.twig" %}
{% block content %}

    {% include ":backnet/_layout:content_header.html.twig" %}

    {% include ":backnet/_forms:user.form.twig" %}

{% endblock %}

{# styles and scripts #}
{% block page_level_javascripts %}

    {% javascripts output='js/backnet/user/index.js'
    '@AppBundle/Resources/public/js/form/user-form.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
{# --------------------------------------------------------------------------------------- #}
