{% extends ':backnet/_layout:layout.html.twig' %}
{% block content %}

    {% include ":backnet/_layout:content_header.html.twig" %}

    {% include ":backnet/_layout:flashmessages.html.twig" %}

    <div class="portlet light">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-users"></i>
                <span class="caption-subject bold uppercase"> {{ 'Listado de usuarios'|trans }} </span>
            </div>
            <div class="actions">
                <a class="btn btn-default btn-bg" href="{{ path('bogo_users_add') }}">
                    <i class="fa fa-plus"></i> {{ 'Añadir'|trans }} </a>
            </div>
        </div>
        <div class="portlet-body">
            <table class="table table-striped table-hover table-bordered" id="table_user_list">
                <thead>
                <tr>
                    <th></th>
                    <th>{{ 'Email (username)'|trans }}</th>
                    <th>{{ 'Rol'|trans }}</th>
                    <th>{{ 'Activo'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{# styles and scripts #}
{# --------------------------------------------------------------------------------------- #}

{% block page_level_javascripts %}
    {% javascripts output='js/backnet/user/index.js'
    '@AppBundle/Resources/public/js/list/user-list.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
