{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="content">
        <h3 class="form-title">{{ 'Recuperar contraseña'|trans }}</h3>

        <div>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</div>

        <div>
            <h4><a href="{{ path('fos_user_security_login') }}">{{ 'Entrar en la aplicación'|trans }}</a> </h4>
        </div>
    </div>
{% endblock %}