{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="content">
        <div>
            {{ 'La contraseña para este usuario ya ha sido solicitada en las últimas 24 horas'|trans }}.
        </div>
        <div>
            <h4><a href="{{ path('fos_user_security_login') }}">{{ 'Entrar en la aplicación'|trans }}</a> </h4>
        </div>
    </div>
{% endblock fos_user_content %}