<!-- BEGIN RESET FORM -->
<form class="login-form" action="{{ path('fos_user_resetting_send_email') }}" method="POST">

    <h3 class="form-title">{{ 'Recuperar contraseña'|trans }}</h3>

    {% if invalid_username is defined %}
        <div class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</span>
        </div>
    {% endif %}

    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">{{ 'Usuario'|trans }}</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="{{ 'Usuario'|trans }}" name="username" required="required" />
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase" id="submit" name="submit">{{ 'Restablecer contraseña'|trans }} <i class="m-icon-swapright m-icon-white"></i></button>
    </div>
    <div>
        <br>
        <p>{{ 'Se enviará un correo electrónico al usuario'|trans }}.</p>
        <p>{{ 'Por favor, siga las instrucciones'|trans }}.</p>
    </div>
</form>
<!-- END RESET FORM -->