{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="content">
        {% include "FOSUserBundle:Resetting:reset.html.twig" %}
    </div>
{% endblock fos_user_content %}