<!-- BEGIN NEW PASSWORD FORM -->
<form class="login-form" action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST">

    <h3 class="form-title">{{ 'Recuperar contraseña'|trans }}</h3>

    <div class="form-group">
        {{ form_label(form.plainPassword.first, 'Nueva contraseña'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control form-control-solid placeholder-no-fix', 'autocomplete': 'off', 'required': 'required' }}) }}
        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second, 'Repita contraseña'|trans, {'label_attr': {'class': 'control-label'}}) }}
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control form-control-solid placeholder-no-fix', 'autocomplete': 'off', 'required': 'required' }}) }}
        </div>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase" id="submit" name="submit">{{ 'Restablecer contraseña'|trans }} <i class="m-icon-swapright m-icon-white"></i></button>
    </div>
    {{ form_widget(form) }}
</form>
<!-- END NEW PASSWORD FORM -->