{% set currentRoute = app.request.attributes.get('_route') %} {# Ruta actual #}
{% if currentRoute == 'bogo_backnet_auxdata_add' %}
    {% set headerMsg = 'Añadir nuevo ' ~ auxType %}
{% elseif currentRoute == 'bogo_backnet_auxdata_edit' %}
    {% set headerMsg = 'Editar ' ~ auxType %}
{% else %}
    {% set headerMsg = 'Eliminar ' ~ auxType %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% include ':backnet/_layout:errors.html.twig' %}
        {% include ':backnet/_layout:flashmessages.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-tasks"></i> {{ headerMsg | trans }}
                </div>
                <div class="actions">
                    <a class="btn default" href="{{ path('bogo_backnet_auxdata_list', {'type': auxType.shortName}) }}"><i class="m-icon-swapleft"></i> {{ 'Volver al listado' | trans }}</a>
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                {{ form_start(form) }}
                <div class="form-body">
                    <div class="form-group">
                        {{ form_label(form.name, 'Nombre'|trans, {'label_attr': {'class': 'label-control'}}) }}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <div class="checkbox-list">
                            <label>
                                <span>{{ form_widget(form.state) }}</span>
                                {{ form_label(form.state, 'Activo'|trans) }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="btn-set pull-left">
                        {# Esto comprueba el nombre de la acción actual #}
                        {% if currentRoute == 'bogo_backnet_auxdata_delete' %}
                            <input id="backnet_auxdata_form_submit"  type="submit" value="{{ 'Eliminar'|trans }}" class="btn red" />
                        {% else %}
                            <input id="backnet_auxdata_form_submit" type="submit" value="{{ 'Enviar'|trans }}" class="btn green" />
                        {% endif %}
                    </div>
                    <div class="btn-set pull-right">
                        <a class="btn default" href="{{ path('bogo_backnet_auxdata_list', {'type': auxType.shortName }) }}"><i class="m-icon-swapleft"></i> {{ 'Volver al listado' | trans }}</a>
                    </div>
                </div>
                {{ form_end(form) }}
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
