{#
Plantilla para pintar campos del formulario de registro asociados a los tipos de datos auxiliares.
OJO, solo para los elementos que representan elementos auxdata, esto no sirve para cualquier elemento del formulario.

Recibimos OBLIGATORIAMENTE:
    - field -> campo a pintar

Recibimos OPCIONALMENTE:
    - defaultValue -> valor (texto de la opción) que queremos que aparezca por defecto marcado en la combo si el campo está vacío
    - colClass -> clase para pasar al div que encierra los campos. Por defecto es col-md-3, pero se puede pasar otra

#}

{# En fieldDescription guardo la descripción del campo. La obtengo del primer valor de las opciones posibles
(todas las opciones son auxdata que pertenecen al mismo auxtype #}
{% set fieldDescription = (field.vars.choices|first).data.type.description %}
{# En fieldVars van las variables que le paso a form_widget para que pinte el elemento. La clase css va siempre #}
{% set fieldVars = {'attr': {'class': 'form-control'}} %}

{# Si especifico un valor por defecto, lo que hago es buscarlo entre las opciones disponible de ese campo, y si está,
la añado a las opciones del campo para pasárselas a form_widget #}
{% if defaultValue is defined and defaultValue is not empty %}
    {% for c in field.vars.choices if field.vars.value is empty and c.label==defaultValue %}
        {% set fieldVars = fieldVars|merge({'value':c.value}) %}
    {% endfor %}
{% endif %}

{# Aquí pinto el campo #}
<div class="{{ colClass is defined ? colClass : 'col-md-3' }}">
    <div class="form-group">
        {{ form_label(field, fieldDescription|trans, {'label_attr': {'class': 'label-control'}}) }}
        {{ form_widget(field, fieldVars) }}
    </div>
</div>