{% set currentRoute = app.request.attributes.get('_route') %} {# Ruta actual #}
{% if currentRoute == 'bogo_backnet_registry_add' %}
    {% set headerMsg = 'Añadir nuevo Registro' %}
{% elseif currentRoute == 'bogo_backnet_registry_edit' %}
    {% set headerMsg = 'Editar Registro' %}
{% else %}
    {% set headerMsg = 'Eliminar Registro' %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% include ':backnet/_layout:errors.html.twig' %}
        {% include ':backnet/_layout:flashmessages.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{ form_errors(form) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-book"></i> {{ headerMsg | trans }}
                </div>
                <div class="actions">
                    <a class="btn default" href="{{ path('bogo_backnet_registry_list') }}"><i class="m-icon-swapleft"></i> {{ 'Volver al listado' | trans }}</a>
                </div>
            </div>

            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                {{ form_start(form, {'attr': {'class': 'horizontal-form'}}) }}
                <div class="form-body">
                    <h3 class="form-section">{{ 'Datos principales'|trans }}</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.nombre, 'Nombre'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            {{ form_label(form.fecha, 'Fecha'|trans, {'label_attr': {'class': 'label-control'}}) }}
                            <div class="input-group date form_datetime" data-date-format="{{ datepicker_format[app.request.locale] }}">
                                {{ form_widget(form.fecha, {'attr': {'class': 'form-control'}}) }}
                                <span class="input-group-btn">
                                    <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                {{ form_label(form.edad, 'Edad'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.edad, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.codigoServicio, 'Código de servicio'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.codigoServicio, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_label(form.numeroServicio, 'Número de servicio'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.numeroServicio, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="checkbox-list">
                                    <label>
                                        <span>{{ form_widget(form.oschar) }}</span>
                                        {{ form_label(form.oschar, 'Incluir en OSCHAR'|trans) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                    <!-- solo mostramos los datos auxiliares en la edición/eliminación -->
                    {% if currentRoute != 'bogo_backnet_registry_add' %}
                        <h3 class="form-section">{{ 'Datos auxiliares'|trans }}</h3>
                        <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN AUX-DATA FORM TABS -->
                            <div class="tabbable tabbable-custom tabbable-reversed">
                                <ul class="nav nav-tabs">
                                    {# auxTypesBlocks es una var global de twig que inserta SidebarMenuListener #}
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_block1">{{ auxTypesBlocks[0].description|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_block2">{{ auxTypesBlocks[1].description|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_block3">{{ auxTypesBlocks[2].description|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_block4">{{ auxTypesBlocks[3].description|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_block5">{{ auxTypesBlocks[4].description|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_block6">{{ auxTypesBlocks[5].description|trans }} </a>
                                    </li>
                                </ul>
                                {# Aquí pinto los campos dentro de cada tab. Ver la plantilla registry-auxdata-field para ver como funciona para ciertos campos #}
                                <div class="tab-content">
                                    <div id="tab_block1" class="tab-pane active">
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.registropcr} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.completo} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.motivollamada} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.unidad} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.sexo} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.poblacion} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.medico} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.due} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.regulador} %}
                                        </div>
                                    </div>
                                    <div id="tab_block2" class="tab-pane">
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.hta, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.dmni, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.hipercolesterol, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.fumador, 'defaultValue':'DESCONOCIDO'} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.enolismo, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.cocaina, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.hiv, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.iam, 'defaultValue':'DESCONOCIDO'} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.dai, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.epoc, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.avc, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.insrenal, 'defaultValue':'DESCONOCIDO'} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.obesidad, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.neoplasia, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.circardiaca, 'defaultValue':'DESCONOCIDO'} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.familiams, 'defaultValue':'DESCONOCIDO'} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.familiaci, 'defaultValue':'DESCONOCIDO'} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.otro, 'Otro'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.otro, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab_block3" class="tab-pane">
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.lugarpcr} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.presenciada} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.quien} %}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                {{ form_label(form.horaLlamada, 'Hora llamada'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group">
                                                    {{ form_widget(form.horaLlamada, {'attr': {'class': 'form-control timepicker timepicker-24'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-clock-o"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_label(form.horaActivacion, 'Hora activación'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group">
                                                    {{ form_widget(form.horaActivacion, {'attr': {'class': 'form-control timepicker timepicker-24'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-clock-o"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_label(form.horaPcr, 'Hora PCR'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group">
                                                    {{ form_widget(form.horaPcr, {'attr': {'class': 'form-control timepicker timepicker-24'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-clock-o"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_label(form.horaPrimerRcp, 'Hora primer RCP'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group">
                                                    {{ form_widget(form.horaPrimerRcp, {'attr': {'class': 'form-control timepicker timepicker-24'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-clock-o"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6"></div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <div class="checkbox-list">
                                                        <label>
                                                            <span>{{ form_widget(form.esHoraPcrEstimada) }}</span>
                                                            {{ form_label(form.esHoraPcrEstimada, 'Estimada'|trans) }}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.tipoprimerrcp} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.tiempoDemora, 'Tiempo demora'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.tiempoDemora, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.tiempoprimerdsf} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.rcptelefonica} %}
                                        </div>
                                    </div>
                                    <div id="tab_block4" class="tab-pane">
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.primerinterviniente} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.presenciapolicia} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.tiemporcpb} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.desa} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.noDesfDesa, 'Número desf DESA'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.noDesfDesa, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.rcpavanzada} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.tiporcpa} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.tiempoRcpa, 'Tiempo RCPA'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.tiempoRcpa, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.noDesfRcpa, 'Número desf RCPA'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.noDesfRcpa, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.ritmoinicial} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.duracionRcp, 'Duración RCP'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.duracionRcp, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.ritmosirosc} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.glasgowsirosc} %}
                                        </div>
                                    </div>
                                    <div id="tab_block5" class="tab-pane">
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.viaaerea} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.accesovenoso} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.capnografo} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.hipotermia} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.marcapasos} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.trombolisis} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.drenajetoracico} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.pericardiocentesis} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.adrenalina} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.atropina} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.amiodarona} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.bicarbonato} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.drogas} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.electrolitos} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.otros, 'Otros'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.otros, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="tab_block6" class="tab-pane">
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.etiologia} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.sospechaetiologica} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.exitus} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.hospitaldestino} %}
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    {{ form_label(form.hcHospital, 'HC hospital'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                    {{ form_widget(form.hcHospital, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.hipotermiahosp} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.dai2} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.donante} %}
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.let} %}
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.evolucionalta} %}
                                            <div class="col-md-3">
                                                {{ form_label(form.fechaAltaHospital, 'Fecha alta'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group date form_datetime" data-date-format="{{ datepicker_format[app.request.locale] }}">
                                                    {{ form_widget(form.fechaAltaHospital, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.evolucion6meses} %}
                                            <div class="col-md-3">
                                                {{ form_label(form.fechaEvolucion6Meses, 'Fecha (6 meses)'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group date form_datetime" data-date-format="{{ datepicker_format[app.request.locale] }}">
                                                    {{ form_widget(form.fechaEvolucion6Meses, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            {% include ':backnet/_forms:registry-auxdata-field.form.twig' with {'field':form.evolucionanio} %}
                                            <div class="col-md-3">
                                                {{ form_label(form.fechaEvolucionAnio, 'Fecha (año)'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                                <div class="input-group date form_datetime" data-date-format="{{ datepicker_format[app.request.locale] }}">
                                                    {{ form_widget(form.fechaEvolucionAnio, {'attr': {'class': 'form-control'}}) }}
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn default"><i class="fa fa-calendar"></i></button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END AUX-DATA FORM TABS -->
                        </div>
                        </div>
                    {% endif %}
                </div>

                <div class="form-actions">
                    <div class="btn-set pull-left">
                        {# Esto comprueba el nombre de la acción actual #}
                        {% if currentRoute == 'bogo_backnet_registry_delete' %}
                            <input id="backnet_registry_form_submit" type="submit" value="{{ 'Eliminar'|trans }}" class="btn red" />
                        {% elseif currentRoute == 'bogo_backnet_registry_edit' %}
                            <input id="backnet_registry_form_submit" type="submit" value="{{ 'Enviar'|trans }}" class="btn green" />
                        {% else %}
                            <input id="backnet_registry_form_submit" type="submit" value="{{ 'Continuar'|trans }}" class="btn green" />
                        {% endif %}
                    </div>
                    <div class="btn-set pull-right">
                        <a class="btn default" href="{{ path('bogo_backnet_registry_list') }}"><i class="m-icon-swapleft"></i> {{ 'Volver al listado' | trans }}</a>
                    </div>
                </div>
                {{ form_end(form) }}
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>

<!-- DIV para mensaje de guardando cambios con blockUI -->
<div id="savingChangesMessage" class="loading-message loading-message-boxed" style="display:none;">
    <img align="" src="{{ asset('bundles/themeforestmetronic/global/img/loading-spinner-grey.gif') }}">
    <span>&nbsp;&nbsp;{{ 'Guardando cambios ...'|trans }}</span>
</div>