{% set currentRoute = app.request.attributes.get('_route') %} {# Ruta actual #}
{% if currentRoute == 'bogo_users_add' %}
    {% set headerMsg = 'Añadir nuevo usuario' %}
{% elseif currentRoute == 'bogo_users_edit' or currentRoute == 'fos_user_profile_edit' %}
    {% set headerMsg = 'Editar usuario' %}
{% else %}
    {% set headerMsg = 'Eliminar usuario' %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        {% include ':backnet/_layout:errors.html.twig' %}
        {% include ':backnet/_layout:flashmessages.html.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered bg-inverse">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-users"></i> {{ headerMsg | trans }}
                </div>
                <div class="actions">
                    {% if currentRoute != 'fos_user_profile_edit' %}
                        <a class="btn default" href="{{ path('bogo_users_list') }}"><i class="m-icon-swapleft"></i> {{ 'Volver al listado' | trans }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                {{ form_start(form) }}
                <div class="form-body">
                    <h3 class="form-section">{{ 'Datos de acceso'|trans }}</h3>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.email, 'Email (username)'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.unmappedPassword, 'Password'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.unmappedPassword, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_label(form.unmappedRoles, 'Rol'|trans, {'label_attr': {'class': 'label-control'}}) }}
                                {{ form_widget(form.unmappedRoles, {'attr': {'class': 'form-control'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="checkbox-list">
                                    <label>
                                        <span>{{ form_widget(form.enabled) }}</span>
                                        {{ form_label(form.enabled, 'Activo'|trans) }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="form-section">{{ 'Datos asociados'|trans }}</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="tabbable tabbable-custom tabbable-reversed">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a data-toggle="tab" href="#tab_profile_block">{{ 'Perfil'|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_contact_block">{{ 'Contacto'|trans }} </a>
                                    </li>
                                    <li class="">
                                        <a data-toggle="tab" href="#tab_social_block">{{ 'Social'|trans }} </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div id="tab_profile_block" class="tab-pane active">
                                        {% include ':backnet/_forms/subforms_user:userprofile.form.twig' %}
                                    </div>
                                    <div id="tab_contact_block" class="tab-pane">
                                        {% include ':backnet/_forms/subforms_user:usercontactinfo.form.twig' %}
                                    </div>
                                    <div id="tab_social_block" class="tab-pane">
                                        {% include ':backnet/_forms/subforms_user:usersocial.form.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-actions">
                    <div class="btn-set pull-left">
                        {# Esto comprueba el nombre de la acción actual #}
                        {% if currentRoute == 'bogo_users_delete' %}
                            <input id="backnet_user_form_submit" type="submit" value="{{ 'Eliminar'|trans }}" class="btn red" />
                        {% else %}
                            <input id="backnet_user_form_submit" type="submit" value="{{ 'Enviar'|trans }}" class="btn green" />
                        {% endif %}
                    </div>
                    <div class="btn-set pull-right">
                        {% if currentRoute != 'fos_user_profile_edit' %}
                            <a class="btn default" href="{{ path('bogo_users_list') }}"><i class="m-icon-swapleft"></i> {{ 'Volver al listado' | trans }}</a>
                        {% endif %}
                    </div>
                </div>
                {{ form_end(form) }}
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>
